<section id="income">
    <h2 class="h1 fw-bold mb-4">Доходы</h2>
    <section class="d-flex py-3 gap-3 flex-wrap justify-content-center justify-content-xl-start">
        <div class="card" style="width: 22.1rem;">
            <div class="card-body">
                <h3 class="card-title fw-bold mb-3">Депозиты</h3>
                <a href="/income_edit" role="button" class="btn btn-primary me-1">Редактировать</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Удалить</button>
            </div>
        </div>
        <div class="card" style="width: 22.1rem;">
            <div class="card-body">
                <h3 class="card-title fw-bold mb-3">Зарплата</h3>
                <a href="/income_edit" role="button" class="btn btn-primary me-1">Редактировать</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Удалить</button>
            </div>
        </div>
        <div class="card" style="width: 22.1rem;">
            <div class="card-body">
                <h3 class="card-title fw-bold mb-3">Сбережения</h3>
                <a href="/income_edit" role="button" class="btn btn-primary me-1">Редактировать</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Удалить</button>
            </div>
        </div>
        <div class="card" style="width: 22.1rem;">
            <div class="card-body">
                <h3 class="card-title fw-bold mb-3">Инвестиции</h3>
                <a href="/income_edit" role="button" class="btn btn-primary me-1">Редактировать</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Удалить</button>
            </div>
        </div>
        <div class="card" style="width: 22.1rem;">
            <div class="card-body">
                <a id='income_create' href="/income_create" role="button" class="btn btn-create d-flex align-items-center justify-content-center h-100 w-100 fs-3 text-secondary opacity-75 fw-bold">+</a>
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog vh-100 d-flex my-0 align-items-center">
            <div class="modal-content py-3">
                <div class="modal-body text-center fw-bold fs-5">
                    Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.
                </div>
                <div class="modal-footer justify-content-center border-0">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Да, удалить</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
                </div>
            </div>
        </div>
    </div>
</section>
