<section id="main" class="main">
    <h2 class="h1 fw-bold mb-5">Главная</h2>
    <section class="nav-buttons d-flex flex-grow-0 gap-4 align-items-center mx-auto overflow-x-auto px-2 pb-1 px-md-1">
        <a href="/?filter=today" class="btn btn-outline-secondary fw-bold py-2" role="button">Сегодня</a>
        <a href="/?filter=week" class="btn btn-outline-secondary fw-bold py-2" role="button">Неделя</a>
        <a href="/?filter=month" class="btn btn-outline-secondary fw-bold py-2" role="button">Месяц</a>
        <a href="/?filter=year" class="btn btn-outline-secondary fw-bold py-2" role="button">Год</a>
        <a href="/?filter=all" class="btn btn-outline-secondary fw-bold py-2" role="button">Все</a>
        <a href="/?filter=interval" class="btn btn-outline-secondary fw-bold py-2" role="button">Интервал</a>
        <label class="label-interval position-relative fw-bold text-nowrap">с
            <input id="interval-date-from" type="date" class="date-link border-0 text-secondary ms-3 opacity-1">
            <!--            <span class="position-absolute w-100 h-100 text-center">Дата</span>-->
        </label>
        <label class="label-interval position-relative fw-bold text-nowrap">по
            <input id="interval-date-to" type="date" class="date-link border-0 text-secondary ms-3 opacity-1">
            <!--            <span class="position-absolute w-100 h-100 text-center">Дата</span>-->
        </label>
    </section>
    <section id="container-charts" class="circles d-flex gap-2 justify-content-around flex-sm-row flex-column">
    </section>
</section>