<section id="expenses_create">
  <h2 class="h1 fw-bold mb-4">Создание категории расходов</h2>
  <section class="d-flex py-3 gap-3 flex-wrap justify-content-center justify-content-xl-start">
    <div class="card border-0" style="width: 24.5rem;">
      <div class="card-body">
        <div class="mb-3">
          <input id="input_create" type="text" class="form-control" placeholder="Название...">
        </div>
        <button id="btn_create" type="button" class="btn btn-success me-1">Создать</button>
        <a href="/expense" class="btn btn-danger">Отмена</a>
      </div>
    </div>
  </section>
</section>